body {
  max-width: 760px;
  margin: 0;
  padding: 8px;
}

main {
  max-width: 760px;
}

pre {
  overflow-x: auto;
  white-space: pre;
}

.instruments h1 {
  margin-bottom: 0;
}

.instruments h2 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

hr {
  margin: 2em 0;
}

blockquote {
  margin-left: 1.5em;
}